<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/MelanieMenard/express-handlebars-starter-app" target="_blank"><span class="glyphicon glyphicon-book"></span>Source on Github</a>
      </li>
      <li class="navbar-right">
        <a href="https://bitbucket.org/MelanieMenard/express-handlebars-starter-app" target="_blank"><span class="glyphicon glyphicon-book"></span>Source on Bitbucket</a>
      </li>
      <li class="navbar-right">
        <a href="https://melanie-node-js.herokuapp.com/"><span class="glyphicon glyphicon-user"></span>Live app on Heroku</a>
      </li>
    </ul>
  </div>
</nav>
